[alias]
    # https://blog.gitbutler.com/git-tips-2-new-stuff-in-git/#safe-force-pushing
    push-fwl = push --force-with-lease
    ss = status --short
[branch]
    # https://blog.gitbutler.com/git-tips-2-new-stuff-in-git/#some-git-branch-stuff
    sort = -committerdate
[column]
    ui = auto
[core]
    ignorecase = false
[diff]
    # https://blog.gitbutler.com/how-git-core-devs-configure-git/#better-diff
    algorithm = histogram
    # "moved from" is purple and "moved to" is blue. I wish it had an arrow or something
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[init]
    # https://blog.gitbutler.com/how-git-core-devs-configure-git/#default-branch
    defaultBranch = trunk
[merge]
    # https://blog.gitbutler.com/how-git-core-devs-configure-git#better-merge-conflicts
    # (just 'diff3' if git version < 2.3)
    conflictstyle = zdiff3
[gpg "ssh"]
    # https://developer.1password.com/docs/ssh/git-commit-signing/
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[pull]
    # https://blog.gitbutler.com/how-git-core-devs-configure-git#better-pulling
    rebase = true
[push]
    # https://blog.gitbutler.com/how-git-core-devs-configure-git#better-pushing
    default = simple
    autoSetupRemote = true
    followTags = true
[rebase]
    # https://blog.gitbutler.com/how-git-core-devs-configure-git#slightly-nicer-rebase
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    # https://blog.gitbutler.com/how-git-core-devs-configure-git#reuse-recorded-resolutions
    enabled = true
    autoupdate = true
[tag]
    # https://blog.gitbutler.com/how-git-core-devs-configure-git/#listing-tags
    sort = version:refname
[include]
    # Local, machine-specific includeIf conditions (gitignored). See config-local.inc.default
    path = ~/.dotfiles/git/config-local.inc
    